{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

  <div class="">
    <div class="">
      <h2 class="">Add a course</h2>

      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="") }}
        {% endfor %}

        <button class="">Add Course</button>
      </form>
    </div>
  </div>

{% endblock %}