.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

node_modules/

# Intellij IDEA
.idea/

# Virtual envirnonment
venv/

_pyache_
__pycache__

# API keys
secrets.pyquit