<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>My Golf Scores</title>

  <script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
  <script src="https://unpkg.com/popper"></script>
  

  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.css"
  rel="stylesheet"/>
</head>

<body class="{% block body_class %}{% endblock %}">
<nav class="navbar navbar-light light-blue">
  <a href="/" class="navbar-brand">
    <span class="fa-solid fa-golf-ball-tee"></span>
    <span>My Golf Scores</span>
  </a>
  <!-- <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
        class="fas fa-bars fa-1x"></i></span></button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent1">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/signup">Sign up</a></li>
      <li class="nav-item"><a class="nav-link" href="/login">Log in</a></li>
      <li class="nav-item"><a class="nav-link" href="/logout">Scores</a></li>
      <li class="nav-item"><a class="nav-link" href="/logout">Courses</a></li>
      <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
    </ul>
  </div> -->
</nav>

<div class="">
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="">{{ message }}</div>
  {% endfor %}

  {% block content %}
  {% endblock %}

</div>
<script src="app.js"></script>
</body>
</html>