{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}
<div class="container">
  <div class="d-flex justify-content-center">
    <h1 class="h3-responsive">{{user.first_name}}'s Scores</h1>
  </div>
  <div class="d-flex justify-content-center">
    <form action="/course">
      <button class="btn btn-info">Add New Score</button>
    </form>   
  </div>
  <div class="row justify-content-center">
    {% for score in scores %}
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><a>{{score.course.course_name}}</a></h4>
          <p class="card-text">{{score.score}}</p>
          <p class="card-text">{{score.date.strftime("%B %-d, %Y")}}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}